@using GymManager.Application.Clients.Queries.GetClientDashboard;

@model GetClientDashboardVm

@{
    ViewData["Title"] = "Pulpit";
}

<div class="col-12 col-xl-6">
    <div class="card card-primary card-border-top">

        <div class="card-body">

            <h3>Witaj @Model.Email</h3>

            @if (Model.TicketEndDate.HasValue)
            {
                <h4 class="mt-4">Masz <span class="text-success">aktywny</span> karnet (data wygaśnięcia: @Model.TicketEndDate.Value.ToLongDateString())</h4>
            }
            else
            {
                <h4 class="mt-4">Twój karnet jest <span class="text-danger">nieaktywny</span></h4>
            }

            <h6 class="announcements-header">Najnowsze ogłoszenia:</h6>

            <ul class="announcements-position no-decoration">

                @foreach (var announcement in Model.Announcements.Items)
                {
                    <li><i class="fa-solid fa-check me-2"></i> @announcement.Date.ToLongDateString() <span>-</span> @announcement.Description</li>
                }

            </ul>

        </div>

    </div>
</div>


<div class="col-12 col-xl-6">
    <div class="card card-primary card-border-top">

        <div class="card-body">

            PULPIT

        </div>

    </div>
</div>


